html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.view {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-top: 0;
}
div.card,span.card-value {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.activeview {
    display: block;
}
.hidden {
    display: none;
}
#input-wrap {
    width: 100%;
    height: 100%;
    background: blue;
    display: inline-block;
}
#input-wrap input {
    width: 100%;
    height: 100%;
    background: #333;
    outline: none;
    border: none;
    font-family: Helvetica Neue,Helvetica,Calibri,sans-serif;
    font-size: 900%;
    color: #f7f7f7;
    text-align: center;
}
#options {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}
#options ul {
    text-align: center;
}
#options ul li {
    font-family: Calibri,sans-serif;
    font-size: 150%;
    color: #999;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
#options ul li.active {
    color: #fff;
}
#inputView,#schemeView,#shadeView {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
#inputView {
    z-index: 800;
}
#schemeView {
    position: absolute;
    background: #f7f7f7;
    top: 0;
    z-index: -1;
    opacity: 0;
    white-space: nowrap;
}
#schemeView div#back {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
    height: 4%;
    margin-left: 50px;
    margin-top: 25px;
    color: #5c5c5c;
    cursor: pointer;
}
#schemeView div#modeTitle {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
    color: #5c5c5c;
    text-align: center;
    width: 50vw;
    margin-left: 25vw;
    height: 4%;
    position: absolute;
    margin-top: 2%;
}
#schemeView ul.colors-display {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: -5px;
    padding: 0;
    text-align: center;
}
.scheme-color {
    height: 100%;
    width: 50%;
    max-width: 400px;
    list-style: none;
    display: inline-block;
    margin-top: 5%;
    cursor: pointer;
}
div.card {
    position: relative;
    background: #288dff;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    border-radius: 3px;
}
span.color-name {
    display: block;
    width: 90%;
    margin-left: 10%;
    height: 35px;
    padding-top: 25px;
    color: #f3f3f3;
    font-size: 25px;
    font-family: Calibri,sans-serif;
    text-align: left;
    font-weight: 200;
}
ul.color-values {
    width: 90%;
    height: 150px;
    position: absolute;
    bottom: 15px;
    padding-left: 10%;
    list-style: none;
    text-align: left;
    font-family: Monaco,Calibri,sans-serif;
    font-size: 16px;
    color: #e5e5e5;
}
ul.color-values li {
    padding-top:10px;
}
ul.color-values li strong {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
div.card:hover {
    box-shadow: 0px 20px 30px #777;
    z-index: 700;
}
#shadeView {
    position: absolute;
    top: 0;
    z-index: -1;
    white-space: nowrap;
}